/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#map-canvas {
    height: 201px;
/*    height: 100%;*/
    margin-top: 20px;
}

.max-header,
.med-header,
.min-header{
background: #3D663D;
}

.Title
{
text-align: center ;
font-size: 200%;
}

.cont{
background-color:#bbFFbb;
min-height : 580px;
}

/* Custom page footer */
.footer {
  padding-top: 7px;
  position:fixed;
  height:30px;
  background-color: #3D663D;
  bottom:0px;
  left:0px;
  right:0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

ul.dropdown-menu
{
    right:0;
    left: auto;
    min-width: 80px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 0px;
}
.BlankBar
{
    height: 25px;
}
.resultron{
    background-color: #F0E68C;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    font-family:'Raleway',sans-serif;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #888888;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.content-table{
	max-width: 300pX;
	min-width: 300px;
}

/* Supporting marketing content */
.marketing {
  margin-left: 28px;
    margin-top: 28px;
}

.marketing p + h4 {
  margin-top: 28px;
}
@media only screen and (max-width: 900px) {
    .max-header {
        display: none;
    }
}
@media only screen and (max-width: 720px) {
    .med-header {
        display: none;
    }
}
@media only screen and (min-width: 900px) {
    .med-header {
        display: none;
    }
}
@media only screen and (min-width: 720px) {
    .min-header {
        display: none;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
	margin-bottom: 0px;
  }
}
