/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header{
background: #3D663D;
position: relative;
height: 50px;
font-size: 200%;
}

.cont{
background-color:#bbFFbb;
}

/* Custom page footer */
.footer {
  padding-top: 7px;
  position:fixed;
  height:30px;
  background-color: #3D663D;
  bottom:0px;
  left:0px;
  right:0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.content-table{
	border: 1px solid #000000;
	max-width: 3000pX;
	min-width: 500px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
